In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/youtube-channel/krish.csv

# YouTube channel Data cleaning

As data extracted using API is not clean and well arranged

In [1]:
!pip3 install  isodate

Collecting isodate
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     -------------------------------------- 41.7/41.7 kB 403.6 kB/s eta 0:00:00
Requirement already satisfied: six in c:\users\candy\anaconda3\lib\site-packages (from isodate) (1.16.0)
Installing collected packages: isodate
Successfully installed isodate-0.6.1

In [2]:
import pandas as pd
import numpy as np
from dateutil import parser
import isodate

In [4]:
df = pd.read_csv("Raw_data_of _channel.csv")

In [5]:
df.head()

,video_id,title,description,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Xniji2m85LY,Tutorial 11- How To Deploy End To End ML Proje...,In this videos we will be seeing how we can de...,"['yt:cc=on', 'aws deployment', 'ec2 instance m...",2023-04-09T04:02:24Z,6145,198,16.0,PT45M35S
1,SkzmbeYCtiU,Tutorial 10- Deployment Of ML Application In A...,In this videos we will be seeing how we can de...,"['yt:cc=on', 'end to end ml project in azure w...",2023-03-31T15:30:23Z,6927,271,27.0,PT13M28S
2,8vmKtS8W7IQ,Complete Dockers For Data Science Tutorial In ...,In this videos we will be seeing how we can im...,"['yt:cc=on', 'complete dockers tutorials', 'do...",2023-03-29T13:02:23Z,26201,872,39.0,PT1H19M29S
3,1m3CPP-93RI,End To End Data Science Project Implementation...,In this videos we will be seeing how we can im...,"['yt:cc=on', 'end to end data science project ...",2023-03-26T05:25:20Z,22638,922,66.0,PT4H18M5S
4,6I2m7VtGLU4,Judging India's Largest Hackathon @physicswallah,NaN,NaN,2023-03-20T17:51:41Z,7452,256,15.0,PT9S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   video_id      1588 non-null   object
 1   title         1588 non-null   object
 2   description   1573 non-null   object
 3   tags          1339 non-null   object
 4   publishedAt   1588 non-null   object
 5   viewCount     1588 non-null   int64
 6   likeCount     1588 non-null   int64
 7   commentCount  1587 non-null   float64
 8   duration      1588 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 111.8+ KB

In [7]:
# Checking data types 
df.dtypes

video_id         object
title            object
description      object
tags             object
publishedAt      object
viewCount         int64
likeCount         int64
commentCount    float64
duration         object
dtype: object

In [8]:
# Need to change data types of  ['publish date', duration ] 
df['publishedAt'] = df['publishedAt'].apply(lambda x: parser.parse(x)) 
df['pushblishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A"))

In [9]:
# change duration 
df['durationSecs'] = df['duration'].apply(lambda x: isodate.parse_duration(x))
df['durationSecs'] = df['durationSecs'].astype('timedelta64[s]')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   video_id          1588 non-null   object
 1   title             1588 non-null   object
 2   description       1573 non-null   object
 3   tags              1339 non-null   object
 4   publishedAt       1588 non-null   datetime64[ns, tzutc()]
 5   viewCount         1588 non-null   int64
 6   likeCount         1588 non-null   int64
 7   commentCount      1587 non-null   float64
 8   duration          1588 non-null   object
 9   pushblishDayName  1588 non-null   object
 10  durationSecs      1588 non-null   float64
dtypes: datetime64[ns, tzutc()](1), float64(2), int64(2), object(6)
memory usage: 136.6+ KB

In [11]:
df.describe()

          viewCount     likeCount  commentCount  durationSecs
count  1.588000e+03   1588.000000   1587.000000   1588.000000
mean   4.616308e+04   1147.379723     68.689981   1269.889169
std    1.056498e+05   2536.614885     96.596121   2214.885135
min    9.490000e+02     13.000000      1.000000      9.000000
25%    8.855000e+03    273.000000     23.000000    447.750000
50%    1.808300e+04    537.000000     43.000000    689.500000
75%    4.531050e+04   1201.250000     80.000000   1138.250000
max    2.496554e+06  60425.000000   1624.000000  42896.000000

In [12]:
#To save file
#df.to_csv('mycsv.csv', index =False)